.header-portada{
    height: 100vh;
    background-image: url("/src/img/bosc.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-inici{
    text-align: center;
    background-color: $color-fons;
    color: $color-text;
    padding: $padding-gran $padding-normal;
    width: $amplada-escriptori;
    display: flex;
    flex-direction: column;
    gap:48px;

    @media (width < $amplada-escriptori) {
      width: 100%;
    }

    @media (width < $mida-mobil) {
      padding: $padding-normal $padding-petit;
    }
    
}

.content-categories{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
}

.categoria{
    width:300px;
    height: 300px;
    border-radius: 175px;
    box-shadow: 7px 9px 20px #00000054;
    text-align: center;
    overflow: hidden;

    img{
        filter: brightness(0.6);
        position:relative;
        object-fit:fill;
        height: 100%;
    }
    h3{
        position: relative;
        top: -180px;
        color: $color-text-clar;
        font-size: $font-mida-mitjana;
        font-family: $font-principal;
        text-shadow: 4px 4px #00000054;
    }

    :hover{
        box-shadow: none;
        filter:brightness(1);
        transition-duration: 800ms;
        
    }
}

.fons-fosc-transparent{
    background-color: #00000073;
}