* {
  box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font: $font-principal;
    font-size: $font-mida-normal;
    font-family: $font-principal;
    line-height: $alcada-normal;
}

main{
    padding: $padding-gran 0;
    width: 100%;
    background-color: $color-fons-principal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    margin: 0;
    padding: 0;
    color: $color-text-clar;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
  padding: $padding-gran;
  line-height: $alcada-apretada;
  text-align: center;
  background-color: $color-secundari;
  color: $color-text-clar;
  font-size: $font-mida-petita;

    @media (width < $mida-mobil) {
      padding-bottom: 96px;
    }
}

/* Titols */

h1, h2, h3{
    padding:0;
    margin:0;
    font-family: $font-titols;
}

h1{
  font-family:$font-logo;
  font-weight: $font-pes-normal;
  font-size: $font-mida-gegant;
}

h2{
  font-weight: $font-pes-normal;
  font-size: $font-mida-gran;
}

ul{
  list-style: none;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 42px;
  flex-direction: row;
  object-fit: fill;

}

a{
  text-decoration: none;
  color: $color-text-clar;;
}

nav{
  width: 100%;
  position: fixed;
  top:0;
  z-index: 100;
  background-color: #00000074;

}

article{
  overflow: hidden;
  text-align: left;

  img{
    width: 100%;
  }
}

@media (width < $mida-mobil) {
  h1{
    font-size: $font-mida-gran;
  }
}